@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #DEE5FF;
}

/* CAPSTONE PROJECT */
/* CAPSTONE PROJECT */
.capstone {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    margin-bottom: -85px;
}

.collapsible{
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
    margin-top: -30px;
}

.collapsible input{
    display: none;

}
.collapsible label{
    position: relative;
    font-weight: bold;
    font-size: 18px;
    background: #ba4104;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.225);
    color: white;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    padding-left: 40%;
    border-radius: 4px;
    z-index: 1;
    
}
.collapsible label:after{
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}
.collapsible input:checked + label::after {
    transform: rotate(90deg);
}
.collapsible-text{
    max-height: 100px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;

}
.collapsible-text img{
    height: 80%;
    width: 80%;
}
.collapsible input:checked ~ .collapsible-text{
    max-height: 10000px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 40px;
    background: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
    top: 0;
    margin-bottom: 115px;
}
.collapsible-text h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #ba4104;
}
.collapsible-text p{
    padding-left: 15px;
    padding-right: 15px;

}

table.hypothesis{
    border-collapse: collapse;
}
table.hypothesis, th, td {
    border: 1px solid rgb(162, 156, 156);
}
th, td {
    padding: 10px;
}
th {
    background-color: #D65615;
    color: white;
}

/* CAPSTONE PROJECT */
/* CAPSTONE PROJECT */

.wrapper .title{
    text-align: center;
}

.title h4{
    display: inline-block;
    padding: 20px;
    color: #000000;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.wrapper .card_Container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.card_Container .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 0.455), inset 0 0 0 1000px rgb(221 110 11 / 26%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgBx{
    background-color: #e4e9f7 ;
}
.imgBx img{
    width: 300px;
    height: 350px;
    justify-content: center;
}

.card .imgBx{
    width: 100%;
    height: 100%;
}

.card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(40px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: bottom 0.5s;
    transition-delay: 0.7s;
}

.card:hover .content{
    bottom: 0;
    transition-delay: 0s;
}

.content .contentBx h3{
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);
}

.card:hover .content .contentBx h3{
    opacity: 1;
    transform: translateY(0);
}

.content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.content .sci{
    position: relative;
    bottom: 10px;
    display: flex;
}

.content .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}

.card:hover .content .sci li{
    transform: translateY(0);
    opacity: 1;
}

.content .sci li a{
    color: #000000;
    font-size: 24px;
}


/* HEADER */ 
header{
  position:fixed;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  background-color:  #AD3B02;
  width: 100%; 
  top: 0; 
  z-index: 1000; 
  height: 100px;
  padding: 0 20px;
  box-sizing: border-box;
}

header h1 {
  color: #ffffff;
  font-size: 25px;
  margin-left: 20px;
  padding-top: 22px;
  margin-right: 0px;
  white-space: nowrap; /* Hindari pemutusan teks saat layar terlalu kecil */
}

header h1 {
  color: #ffffff;
  margin-left: 10px;
  margin-top: 2px;
  white-space: nowrap;
}

nav {
  padding: 37px 0 0 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: flex;
  margin-right: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ffcc00;
}

div.team {
  display: flex;
  justify-content: space-between;
  margin: -20px 20px 0 0;
  
}

div.logojudul-kiri {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 10px
}

.logo {
  width: 100px;
  height: 65px;
  padding-left:20px ;
  padding-top: 15px;
}

.profil {
  width: 100px;
  height:70px;
  padding-top: -20px;
}

.checkbtn i:hover{
  color:#ffcc00;
}  

#logout{
  font-size: 30px;
  cursor: pointer;
  color: white;
  margin-right: 10px;
  margin-top: auto;
}
#logout:hover{
  color:#ffcc00;
}
/* TAMBAHAN HEADER */
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  /* line-height: 10px; */
  margin-right: 10px;
  /* margin-bottom: 50px; */
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  .logojudul-kiri{
    font-size: 30px;
    padding-left: 10px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
   ul{
    position: fixed;
    width: 100%;
    height: 80px;
    background: #ba4104;
    top: -100px;
    left: 0;
    text-align: center;
    justify-content: space-between;
    border-top: 1px solid white;
  }
  nav ul li{
    display: block;
    margin: 20px 0;
    line-height: 10px;
  }
  nav ul li a{
    font-size: 20px;
    display: block;
    padding: 20px;
  }
  #check:checked ~ ul{
    top: 100px;
  }
}
/* BATAS HEADER */


.container-dashboard {
    margin-top: 110px;
    font-family: 'Poppins', sans-serif;
}


/* SIDEBAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
  }
  
  :root {
    /* ===== Color ===== */
    --body-color: #e4e9f7;
    --toggle-color: #fff;
    --darkmode: #0075ff;
    --text-color: #000;
    --card-filter: #fff;
    --card-color: #fff;
    --hover-color: #e4e9f7;
    --table: rgba(132, 139, 200, 0.18);
    --table-input: #001838;
  
    /* ====== Transition ====== */
    --tran-02: all 0.1s ease;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
  }
  
  body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
  }
  
  body.dark {
    --body-color: #001838;
    --toggle-color: #fff;
    --darkmode: #fff;
    --text-color: #fff;
    --card-filter: #947f5d;
    --card-color: #2c2f38;
    --hover-color: #2c2f38;
    --color: rgba(0, 0, 0, 0.4);;
    --table-input: #bfbfbf;
  }
  
  .container-dashboard {
    height: 100%;
    width: 100%;
    padding: 20px 80px 20px 90px;
  }
  
  /* ========== Dashboard Header ========== */
  /* ========== Dashboard Header ========== */
  .container-dashboard header {
    display: flex;
    justify-content: space-between;
  }
  header .content-text {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--text-color);
  }
  .select {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 6px;
  }
  .select-dropdown .select-btn {
    display: flex;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; 
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--card-filter);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .select-btn .btn-text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
  }
  .select-btn .arrow-dwn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.3rem;
    transition: var(--tran-03);
  }
  .select-btn.open-list .arrow-dwn {
    transform: rotate(180deg);
  }
  .select-btn.open-list ~ .list-items {
    display: block;
  }
  .select .list-items {
    position: absolute;
    width: 150px;
    max-height: 0;
    margin-top: 5px;
    border-radius: 5px;
    padding: 0 5px;
    background-color: var(--card-filter);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 100 !important;
    overflow-y: scroll;
  }
  
  .select-btn.open-list ~ .list-items {
    max-height: 285px;
    opacity: 1;
    /* padding: 5px; */
  }
  
  .select .pizza-type {
    width: 350px;
  }
  .select .list-items .select-all {
    width: 100px;
    padding: 4px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin: 5px 5px;
    background-color: transparent;
    color: var(--text-color);
    border: 3px solid var(--hover-color);
    box-sizing: border-box;
  }
  .select .list-items .select-all:hover {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--hover-color);
  }
  .select .list-items .item {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 5px;
    border-radius: 5px;
    background-color: var(--card-filter);
  }
  .select .list-items .item:hover {
    background-color: var(--hover-color);
  }
  .select .list-items .item label {
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    font-weight: 400;
    padding-left: 5px;
    color: var(--text-color);
  }
  .select .list-items .item #pizza-type {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    width: 12px;
    border-radius: 5px;
    margin-right: 10px;
    transition: var(--tran-03);
  }
  
  /* ========== Dashboard Analys ========== */
  /* ========== Dashboard Analys ========== */
  .analys {
    position: relative;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 1.5rem;
    justify-content: center;
  }
  .analys .analys-sales {
    width: 330px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    position: relative;
    flex-shrink: 0;
  }
  .analys-sales .sales-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-right: 10px;
  }
  .analys-sales .sales-icon i {
    font-size: 2rem;
    color: #FE7028;
  }
  .analys-sales .sales-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
  }
  .analys-sales .sales-text h3 {
    font-size: 1rem;
    color: var(--text-color);
  }
  .analys-sales .sales-text h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
 /* ========== Dashboard Chart ========== */
 .chart {
  margin-top: 1.5rem;
  display: grid;
  gap: 15px;
}

.grid-1 {
  grid-template-columns: repeat(3, 1fr); /* 3 columns for grid 1 */
  grid-template-areas:
    "hourlyTrend monthlyTrend dailyTrend";
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr); /* 2 columns for grid 2 */
  grid-template-areas:
    "quantityCategory orderSize";
}

.grid-3 {
  grid-template-columns: repeat(2, 1fr); /* 2 columns for grid 3 */
  grid-template-areas:
    "topBestPizza topWorstPizza";
}

.chart-item:nth-child(1) {
  grid-area: hourlyTrend;
}

.chart-item:nth-child(2) {
  grid-area: monthlyTrend;
}

.chart-item:nth-child(3) {
  grid-area: dailyTrend;
}

.chart.grid-2 .chart-item:nth-child(1) {
  grid-area: quantityCategory;
}

.chart.grid-2 .chart-item:nth-child(2) {
  grid-area: orderSize;
}

.chart.grid-3 .chart-item:nth-child(1) {
  grid-area: topBestPizza;
}

.chart.grid-3 .chart-item:nth-child(2) {
  grid-area: topWorstPizza;
}


.chart .chart-item {
  background-color: var(--card-color);
  padding: 20px 10px;
  border-radius: 15px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.chart .chart-item .chart-img {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart .chart-item canvas {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.chart .chart-item p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color);
}

/* ========== Tabel ========== */
.table {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
}

.table .table-header {
  font-size: 1.2rem;
  color: var(--text-color);
}

div.dt-container {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1rem;
  position: static;
  margin-top: 5px;
}

div.dt-container select.dt-input, div.dt-container .dt-search input {
  border: 1.5px solid var(--table-input);
}

div.dt-container select.dt-input option {
  background-color: var(--card-color);
}

table.dataTable {
  border-collapse: collapse;
  background-color: var(--card-color);
  margin: 1px 0;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

table.dataTable thead tr {
  background-color: #AD3B02;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
}

table.dataTable thead > tr > th.dt-orderable-asc {
  text-align: center;
}

table.dataTable > tbody > tr {
  text-align: center;
  font-size: 1rem;
  border-bottom: 0.5px solid var(--table);
}

table.dataTable > tbody > tr {
  background-color: var(--card-color);
}

table.dataTable tbody tr:hover td {
  background-color: transparent;
}

table.dataTable tbody td.active {
  background-color: transparent;
}

table.dataTable td.dt-type-numeric {
  text-align: center;
}

table.dataTable {
  width: 100% !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
  color: #f4f4f4 !important;
}

/* ========== Footer ========== */
footer {
  background-color: #AD3B02;
  width: 100%;
  padding: 15px 20px;
}

footer .footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-card h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

footer span a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 1350px) {
  .chart {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
          "hourlyTrend monthlyTrend"
          "dailyTrend quantityCategory"
          "orderSize topPizza";
  }
}

@media screen and (max-width: 992px) {
  .container-dashboard {
      max-width: 992px;
  }

  .container-dashboard header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .chart .chart-item {
      max-height: 300px;
  }
}

@media screen and (max-width: 768px) {
  html {
      font-size: 12px !important;
      background-color: #fff;
  }

  .container-dashboard {
      max-width: 768px;
      padding: 20px 5%;
  }

  .dash-header {
      display: flex;
      padding-top: 50px;
  }

  header .select {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 10px;
      gap: 5px;
  }

  header .select {
      width: 100%;
  }

  header .select-dropdown .select-btn {
      width: 100%;
  }

  .select .pizza-type {
      width: 310px;
  }

  .analys .analys-sales {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
  }

  .table .table-header {
      text-align: center;
  }

  .chart {
      grid-template-columns: 1fr;
      grid-template-areas:
          "hourlyTrend"
          "monthlyTrend"
          "dailyTrend"
          "quantityCategory"
          "orderSize"
          "topPizza";
  }

  .chart .chart-item {
      max-height: 320px;
  }
}

@media screen and (max-width: 576px) {
  .container-dashboard {
      max-width: 576px;
  }

  .analys {
      display: grid;
      grid-template-columns: 1fr;
  }

  .analys .analys-sales {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      height: 85px;
  }
}

@media screen and (max-width: 400px) {
  header .select {
      display: grid;
      grid-template-columns: 1fr;
  }

  header .select {
      width: 95%;
  }

  header .select-dropdown .select-btn {
      width: 100%;
  }
}
